body {
<<<<<<< HEAD
    font-family: "微軟正黑體", "標楷體";
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}

#calTable {
	display: block;
    background-color: gray;
    width: 250px;
    height: 310px;
    margin: auto;
    padding: 20px;
    border: 5px solid black;
    border-radius: 30px;
}

span {
    float: left;
    width: 32px;
    height: 30px;
    padding: 10px;
    margin: 5px;
    /*border: 1px solid black;*/
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 0px black;
}
span.sign{
	background-color: #FDF895;
}

span:hover{
	background-color: #DEF4FD;
}
span:active{
	color: white;
	background-color:#5A5858; 
	box-shadow:none;

=======
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: "微軟正黑體";
}

div {
    margin: auto;
    padding: 20px;
    width: 250px;
    height: 380px;
    border: 2px solid Black;
    border-radius: 5px;
    background-color: #51B1FC;
>>>>>>> c3b264abc24de4a9d9fe433975420512a86250fe
}

#result {
    width: 220px;
<<<<<<< HEAD
    background-color: #D4D4D4;
    border: 0px;
    text-align: right;
    overflow: hidden;
}

.Num{
	margin-top: 40px;
}



/*table,th,td{
	border:2px solid Black;
=======
    text-align: right;
}
>>>>>>> c3b264abc24de4a9d9fe433975420512a86250fe

#clear {
    width: 215px;
}

#equal {
    height: 50px;
}

span {
    cursor: pointer;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid Black;
    border-radius: 5px;
    background: linear-gradient(#EAF7FB, #8ED3FF, #EAF7FB);
    box-shadow: 2px 2px #001128;
    padding: 10px;
    margin: 5px;
    float: left;
}

span:hover {
    color: white;
    background: radial-gradient(#EAF7FB, #0099FD);
    /*opacity: 0.4;*/
}

#result:hover {
    opacity: 1;
    background: linear-gradient(#EAF7FB, #B6DDF6, #EAF7FB);
    color: black;
}

span:active{
	color: white;
	background: #435268;
    box-shadow: 1px 1px white;
}
table,
th,
td {
    border: 2px solid Black;
}

table {
    width: 400px;
    height: 550px;
}

td {
    text-align: center;
}
<<<<<<< HEAD
td{
	text-align: center;
}*/
=======
>>>>>>> c3b264abc24de4a9d9fe433975420512a86250fe
